body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-y: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  width: 1240px;
}
.form label {
  display: block;
  margin-bottom: 5px;
}
.form input,
.form textarea {
  width: 350px;
  height: 30px;
  padding: 5px;
}
.form > div {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}